/* Prévia do ícone Phosphor no formulário da seção de metadados  */
#iphan-blocksy-metadata-section-icon {
    font-size: 1.75em;
    color: var(--tainacan-secondary);
}
/* Escoonde banner de avisos inserido pelo plugin de animação */
.otter-animation-welcome-notice {
    display: none;
    visibility: hidden;
}